.button-sing-in {
  border: solid 2px #f4ac11;
  border-radius: 6px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: -4px;
  background-color: white;
}
.button-sing-up {
  border: solid 2px #f4ac11;
  border-radius: 6px;
  padding: 10px, 2px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 2px;
  margin-top: -4px;
  padding-bottom: 2px;
}
.button-sing-in:hover {
  border: solid 2px;
  background-color: #f4ac11;
  cursor: pointer;
}
.button-sing-up:hover {
  background-color: white;
  border: solid 2px;
  cursor: pointer;
}
.button-login {
  width: 10rem;
  border-radius: 25px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(0, 110, 255);
  border: solid 1px rgb(0, 110, 255);
}
.button-login:hover {
  cursor: pointer;
  background-color: rgb(0, 110, 255);
  color: white;
}
