.carrousel-offer-products {
  display: flex;
  margin: auto;
  width: 95%;
  overflow: hidden;
}
.offer-products-container {
  margin: 0;
  display: flex;
}
.arrows {
  width: 64px;
}
.arrows:active {
  opacity: 0.6;
}
