.show-products {
  width: 90%;
  margin: auto;
}

.show-products-title {
  color: gray;
  margin-left: -2.5rem;
}
.show-products-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
