.navbar {
  background-color: #fbf016;
  padding-top: 1px;
  padding-bottom: 1px;
}
.navbar-content {
  display: flex;
  margin: auto;
  width: 40%;
}
.navbar-content img {
  width: 64px;
  margin-right: 10px;
}
.navbar-options {
  margin-left: 35%;
}
.navbar-content .navbar-options ul {
  list-style-type: none;
  display: flex;
}
.navbar-content .navbar-options ul li {
  margin-right: 5px;
}
.navbar-content navbar-options ul li a {
  text-decoration: none;
  color: black;
}

.navbar-content ul li a:hover {
  text-decoration: underline;
}
@media (max-width: 1366px) {
  .navbar-content {
    margin-left: 40px;
    width: 100%;
  }
  .navbar-options {
    margin-left: 50%;
  }
}
